<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
      <title>Project Manager - Parcial Cloud</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    "
  >
    <h1 style="font-size: 8rem; margin: 0">Parcial cloud</h1>
    <img
      height="600"
      style="padding: 0.5rem"
      src="https://i.pinimg.com/550x/ea/c6/ed/eac6ed9a072d44a6fefc06dccaa9d795.jpg"
      alt="calamardo"
    />
    <a
      href="https://github.com/JuanPLaverde08/cloud_Trabajo1"
      style="font-size: 2rem; font-weight: bold; margin: 0.5rem 0 0"
      >Github</a
    >
  </body>
</html>
